<a href="https://colab.research.google.com/github/royarkaofficial/DataOps-Lab7-30th-Dec-2024-Data-Quality-Checks/blob/main/Copy_of_Lab7_Data_Quality_checks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sample_data/employee_data (1).csv')
df.head()

   EmployeeID             Name  Age Department   Salary
0           1         John Doe   28    Finance  50000.0
1           2       Jane Smith   32         IT  62000.0
2           3      Emily Davis   45         HR  58000.0
3           4  Michael Johnson   41         IT  71000.0
4           5        Sarah Lee   29    Finance  52000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  20 non-null     int64
 1   Name        20 non-null     object
 2   Age         20 non-null     int64
 3   Department  19 non-null     object
 4   Salary      19 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 928.0+ bytes

In [ ]:
#Detecting the missing values
missing = df.isnull().sum()
print("Missing values in each column:")
print(missing)

Missing values in each column:
EmployeeID    0
Name          0
Age           0
Department    1
Salary        1
dtype: int64

In [ ]:
#Handling the missing values
df['Department'] = df['Department'].fillna("Unknown")
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31    Unknown   58000.0
10          11      Emily Davis   45         HR   58000.0
11          12      Anna Martin   40  Marketing     mean1
12          13      Chris White   29         IT   54000.0
13          13  Michael Johnson   41         IT   71000.0
14          15         John Doe   28    Finance   50000.0
15          15    Thomas Harris   25    Finance  -30000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

In [ ]:
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31    Unknown   58000.0
10          11      Emily Davis   45         HR   58000.0
11          12      Anna Martin   40  Marketing     mean1
12          13      Chris White   29         IT   54000.0
13          13  Michael Johnson   41         IT   71000.0
14          15         John Doe   28    Finance   50000.0
15          15    Thomas Harris   25    Finance  -30000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

In [ ]:
data_dropped = df[df['Salary'] != 'mean1']
print(data_dropped)
df = data_dropped
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31    Unknown   58000.0
10          11      Emily Davis   45         HR   58000.0
12          13      Chris White   29         IT   54000.0
13          13  Michael Johnson   41         IT   71000.0
14          15         John Doe   28    Finance   50000.0
15          15    Thomas Harris   25    Finance  -30000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31    Unknown   58000.0
10          11      Emily Davis   45         HR   58000.0
12          13      Chris White   29         IT   54000.0
13          13  Michael Johnson   41         IT   71000.0
14          15         John Doe   28    Finance   50000.0
15          15    Thomas Harris   25    Finance  -30000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

In [ ]:
mean1 = df['Salary'].mean()
mean1

51552.63157894737

In [ ]:
df["Salary"] = df["Salary"].fillna(mean1)
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31    Unknown   58000.0
10          11      Emily Davis   45         HR   58000.0
12          13      Chris White   29         IT   54000.0
13          13  Michael Johnson   41         IT   71000.0
14          15         John Doe   28    Finance   50000.0
15          15    Thomas Harris   25    Finance  -30000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

In [ ]:
#Detecting the missing values
new_missing = df.isnull().sum()
print("Missing values in each column:")
print(new_missing)

Missing values in each column:
EmployeeID    0
Name          0
Age           0
Department    0
Salary        0
dtype: int64

In [ ]:
#Detect the outliers in Salary column using IQR method
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1
print(Q1)
print(Q3)
print(IQR)

50000.0
64000.0
14000.0

In [ ]:
LB = Q1 - 1.5 * IQR
UB = Q3 + 1.5 * IQR
print(LB)
print(UB)

29000.0
85000.0

In [ ]:
outliers = df[(df['Salary'] < LB) | (df['Salary'] > UB )]
print("Outliers in the salary column")
print(outliers)

Outliers in the salary column
    EmployeeID           Name  Age Department    Salary
5            6    David Clark   33         HR  -40000.0
15          15  Thomas Harris   25    Finance  -30000.0
19          20   George Baker   52         IT  105000.0

In [ ]:
df.head()

   EmployeeID             Name  Age Department   Salary
0           1         John Doe   28    Finance  50000.0
1           2       Jane Smith   32         IT  62000.0
2           3      Emily Davis   45         HR  58000.0
3           4  Michael Johnson   41         IT  71000.0
4           5        Sarah Lee   29    Finance  52000.0

In [ ]:
#Detect outliers of age column using Z-score method


import numpy as np
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sample_data/employee_data (1).csv')
df.head()
mean1 = df["Salary"].mean()
std1 = df["Salary"].std()

In [ ]:
def zscore(data, mean1, std1):
  res = (data-mean1)/std1
  return res

In [ ]:
df["Age1"] = df["Age"]

In [ ]:
for i in range(len(df["Age"])):
  df["Age"][i] = zscore(df["Age"][i], mean1, std1)

<ipython-input-62-e73075b8db74>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Age"][i] = zscore(df["Age"][i], mean1, std1)
<ipython-input-62-e73075b8db74>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"][i] = zscore(df["Age"][i], mean1, std1)
<ipython-input-62-e73075b8db74>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.5439471799638882' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df["Age"][i] = zscore(df["Age"][i], mean1, std1)

In [ ]:
df.head()

   EmployeeID             Name       Age Department   Salary  Age1
0           1         John Doe -1.543947    Finance  50000.0    28
1           2       Jane Smith -1.543827         IT  62000.0    32
2           3      Emily Davis -1.543438         HR  58000.0    45
3           4  Michael Johnson -1.543558         IT  71000.0    41
4           5        Sarah Lee -1.543917    Finance  52000.0    29

Z score method

In [ ]:
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sample_data/employee_data (1).csv')
df.head()

   EmployeeID             Name  Age Department   Salary
0           1         John Doe   28    Finance  50000.0
1           2       Jane Smith   32         IT  62000.0
2           3      Emily Davis   45         HR  58000.0
3           4  Michael Johnson   41         IT  71000.0
4           5        Sarah Lee   29    Finance  52000.0

In [ ]:
import numpy as np

mean1 = df["Salary"].mean()
std1 = df["Salary"].std()

In [ ]:
df["Salary1"] = df["Salary"]

In [ ]:
for i in range(len(df["Salary"])):
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1

<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Salary"][i] = (df["Salary"][i] - mean1)/std1
<ipython-input-58-7b3785606d0e>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.


In [ ]:
outliers_age = df[df["Age"] > 3] | df[df["Age"] < -3]
print("Outliers in the age column")
print(outliers_age)

Outliers in the age column
Empty DataFrame
Columns: [EmployeeID, Name, Age, Department, Salary, Age1]
Index: []

In [ ]:
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31        NaN   58000.0
10          11      Emily Davis   45         HR   58000.0
11          12      Anna Martin   40  Marketing       NaN
12          13      Chris White   29         IT   54000.0
14          15         John Doe   28    Finance   50000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

**Data Inconsistencies**

In [ ]:
#Load the Datasets
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sample_data/employee_data (1).csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  20 non-null     int64
 1   Name        20 non-null     object
 2   Age         20 non-null     int64
 3   Department  19 non-null     object
 4   Salary      19 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 928.0+ bytes

In [ ]:
#checking for duplicate values and handling them

dup = df[df["EmployeeID"].duplicated()]
dup1 = df[df["Name"].duplicated()]
print("Duplicate values in the dataset")
print(dup)
print(dup1)

Duplicate values in the dataset
Empty DataFrame
Columns: [EmployeeID, Name, Age, Department, Salary]
Index: []
    EmployeeID         Name  Age Department   Salary
10          11  Emily Davis   45         HR  58000.0
14          15     John Doe   28    Finance  50000.0

In [ ]:
#Handle the duplicate values
df = df.drop_duplicates(subset = ["EmployeeID"])
df = df.drop_duplicates(subset = ["Name"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  16 non-null     int64
 1   Name        16 non-null     object
 2   Age         16 non-null     int64
 3   Department  15 non-null     object
 4   Salary      15 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 768.0+ bytes

In [ ]:
df

    EmployeeID             Name  Age Department    Salary
0            1         John Doe   28    Finance   50000.0
1            2       Jane Smith   32         IT   62000.0
2            3      Emily Davis   45         HR   58000.0
3            4  Michael Johnson   41         IT   71000.0
4            5        Sarah Lee   29    Finance   52000.0
5            6      David Clark   33         HR  -40000.0
6            7      Linda Brown   27  Marketing   48000.0
7            8     James Wilson   50    Finance   80000.0
8            9     Robert Lewis   38         HR   55000.0
9           10       Mary Clark   31        NaN   58000.0
11          12      Anna Martin   40  Marketing       NaN
12          13      Chris White   29         IT   54000.0
16          17     Alice Cooper   35  Marketing   62000.0
17          18     Betty Carter   48         HR   66000.0
18          19     Samuel Green   30    Finance   49500.0
19          20     George Baker   52         IT  105000.0

In [ ]:
#Load the Datasets
#Load the dataset
import pandas as pd
df = pd.read_csv('/content/sample_data/employee_data (1).csv')
df.head()
df.info()

In [ ]:
def check_duplicated_rows(data) :
  seen = set() #Unique rows
  duplicates = [] #List to store duplicate rows

  for row in data:
    row_tuple = tuple(row) #Convert from list to tuple
    if row_tuple in seen:
      duplicates.append(row)
    else:
      seen.add(row_tuple)

  return duplicates

In [ ]:
data = [
    [1,"Shravya",54],
    [2,"Cheery",48],
    [3,"Tom",26],
    [1,"Shravya",54],
]

In [ ]:
duplicates = check_duplicated_rows(data)
duplicates

[[1, 'Shravya', 54]]

In [ ]:
dup_df = check_duplicated_rows(df)
dup_df

[]

In [ ]:
df.head()

   EmployeeID             Name  Age Department   Salary
0           1         John Doe   28    Finance  50000.0
1           2       Jane Smith   32         IT  62000.0
2           3      Emily Davis   45         HR  58000.0
3           4  Michael Johnson   41         IT  71000.0
4           5        Sarah Lee   29    Finance  52000.0

In [ ]:
#Detect negative salary in the data
neg_sal = df[df["Salary"] < 0]
neg_sal

   EmployeeID         Name  Age Department   Salary
5           6  David Clark   33         HR -40000.0

In [ ]:
#age not in proper range

age_range = df[(df["Age"] < 18) | (df["Age"] > 60)]
age_range

Empty DataFrame
Columns: [EmployeeID, Name, Age, Department, Salary]
Index: []